<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<header>
    <h2>User:<span th:text="${loggedInUser.username}"></span></h2>
    <nav>
        <a href="/logout">Log out</a>
        <a href="/myprofile">My Profile</a>
        <a href="/feed">My Feed</a>
    </nav>
</header>

<main>
    <h1>CodeFellowship</h1>
        <h2>Reverse Cyber Stalking!</h2>

    <img th:src="${user.picture}" width="100" height="100">
    <p>First Name:<span th:text="${user.first_Name}"></span></p>
    <p>Last Name:<span th:text="${user.last_Name}"></span></p>
    <p>Date of Birth:<span th:text="${user.date_Of_Birth}"></span></p>
    <p>Bio:<span th:text="${user.bio}"></span></p>



    <form action="/follow" method="POST">
        <input type="hidden" th:value="${user.username}" name="newFriend">
        <input type="submit" value="Follow">
    </form>

</main>

</body>
</html>