<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Made it past security, welcome [[${username}]]</h1>

<h2> make new users here</h2>
<form action="/signup" method="POST">
    name <input type="username" name="username">
    pass <input type="password" name="password">
    fname <input type="text" name="first_Name">
    lname <input type="text" name="last_Name">
    dob <input type="date" name="date_Of_Birth">
    bio <input type="text" name="bio">
    <input type="submit">
</form>
</body>
</html>