<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Made it past security, welcome [[${username}]]</h1>

<h2> Create new user</h2>
<form action="/signup" method="POST">
    userID <input type="username" name="username">
    password <input type="password" name="password">
    First <input type="text" name="first_Name">
    Last <input type="text" name="last_Name">
    DOB <input type="date" name="date_Of_Birth">
    Bio <input type="text" name="bio">
    <input type="submit">
</form>
</body>
</html>